//- Hey #{clientName},  

//- This is a friendly reminder from #{username} regarding your outstanding invoice.  

//- Invoice Details:  
//- - Invoice ID: #{invoiceId}  
//- - Amount Due: $#{amountDue}  
//- - Due Date: #{dueDate}  
//- - Invoice: #{invoice}  

//- Please ensure payment is made by the due date to avoid any late fees or service interruptions.  

//- If you have already made the payment, please disregard this message.  

//- For any questions, feel free to contact #{userEmail}.  

//- Thank you for your prompt attention to this matter!  

h1 Dear #[strong random],

body 
    p Hope this email finds you well.
    p This is a friendly reminder that Invoice: 1 was due today.
    p you have already paid this invoice, kindly ignore this reminder.